<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Show</title>
</head>
<body>
    <h5><a href='/shows'>Go Back</a></h5>
    <h4>
        {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </h4>
    <form action="/shows/{{show.id}}/update" method="POST">
        {% csrf_token %}
        <ul>
            <li><label for='title'>Title</label>
            <input type='text' name='title' id='title' value='{{show.title}}'></li>
            <li><label for='network'>Network</label>
            <input type='text' name='network' id='network' value='{{show.network}}'></li>
            <li><label for='release_date'>Release Date</label>
            <input type='date' name='release_date' id='release_date' value='{{show.release_date|date:"Y-m-d"}}'></li>
            <li><label for='description'>Description</label>
            <input type='text' name='description' id='description' value='{{show.description}}'></li>
            <li><input type='submit' value='Update'></li>
        </ul>
    </form>
    <h4><a href='/shows/{{show.id}}'>Go to Show</a></h4>
</body>
</html>