<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>idk yet</title>
</head>
<body>
    <h5><a href='/shows'>Go Back</a></h5>
    <h1>TV Show {{show.id}}</h1>
    <div id='info_main'>
        <h4>Title: {{show.title}}</h4>
        <h4>Network: {{show.network}}</h4>
        <h4>Release Date: {{show.release_date}}</h4>
        <h4>Description: {{show.description}}</h4>
    </div>
    <h4>Last Updated: {{show.updated_at}}</h4>
    <h3><a href='/shows/{{show.id}}/edit'>Edit</a> | 
        <a href='/shows/{{show.id}}/destroy'>Delete</a></h3>
</body>
</html>