<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Money</title>
    {% load static %}
    <link rel='stylesheet' href="{%static '/style.css'%}">
</head>
<body>
    <h4>Your Gold: {{request.session.gold_total}}</h4>
        <div class='income'>
            <h2>Farm</h2>
            <h3>(earns 10-20 golds)</h3>
            <a href='/process_money/Farm'>Find Gold!</a>
        </div>
        <div class='income'>
            <h2>Cave</h2>
            <h3>(earns 5-10 golds)</h3>
            <a href='/process_money/Cave'>Find Gold!</a>
        </div>
        <div class='income'>
            <h2>House</h2>
            <h3>(earns 2-5 golds)</h3>
            <a href='/process_money/House'>Find Gold!</a>
        </div>
        <div class='income'>
            <h2>Casino</h2>
            <h3>(earns/takes 0-50 golds)</h3>
            <a href='/process_money/Casino'>Find Gold!</a>
        </div>
    <div id='activity_scroll'>
        <h4>Activities: </h4>
        {% for activity in request.session.activities %}
        <p class={{activity.1}}>{{activity.0}}</p>
        {% endfor %}
    </div>
</body>
</html>