<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{book.title}}</title>
</head>
<body>
    <div id='header'>
        <h1>Welcome, {{user.first_name}}!</h1>
        <h4><a href='/user/logout'>Log Out</a></h4>
    </div>
    <div id='book_left'>
        <form action='/books/{{book.id}}/edit' method="POST">
            <h1><input type='text' id='title' name='title' value='{{book.title}}'></h1>
            <h4>Added by: {{book.added_by.first_name}} {{book.added_by.last_name}}</h4>
            <h4>Added on: {{book.created_at}}</h4>
            <h4>Last updated on: {{book.updated_at}}</h4>
            <h4><label for='desc'>Description:</label>
            <input type='text' id='desc' name='desc' value='{{book.desc}}'></h4>
            <input type='submit' value='Update'>
        </form>
        <form action='/books/{{book.id}}.destroy' method='POST'>
            <input type= 'submit' value='Delete' id='delete_book'>
        </form>
    </div>
    <div id='book_right'>
        <h2>Users Who Like This Book:</h2>
        <ul>
            {% for liker in book.favorites %}
                <li>
                    {{liker.first_name}} {{liker.last_name}}
                    {% if liker is user %}
                        <a href='/books/{{book.id}}/unfavorite'>Un-Favorite</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>